{% include heading-2.html icon="💡" name="What is Hydrogen?" id="what" %}
<div
  data-h2-bg-color="b(theme-1[.1])"
  data-h2-font-color="b(theme-1)"
  data-h2-border="b(theme-1, all, solid, small)"
  data-h2-padding="b(all, medium)"
  data-h2-radius="b(all, small)">
  <p 
    data-h2-font-color="b(theme-1)"
    data-h2-font-weight="b(600)">Hydrogen is a design and development tool for building coherent web interfaces without writing any CSS.</p>
</div>
<p>Here are the core concepts behind Hydrogen:</p>
<ul>
  <li>Hydrogen uses HTML5 custom <code>data-attributes</code> to allow you to style your web project.</li>
  <li>It is a utility style tool that generates a CSS file based on a JSON configuration file.</li>
</ul>