<p 
  data-h2-font-size="base(h5)"
  data-h2-padding="base(top, larger) base(bottom, medium) base(left, small)"
  data-h2-font-color="base(theme-1)"
  data-h2-font-weight="base(700)"
  >Navigate</p>
<a href="#">Installation</a><br>
<a href="#">Basic Commands</a><br>

{% capture functional %}
  <a href="#">Folders</a><br>
  <a href="#">Media Queries</a><br>
  <a href="#">Media Query Warnings</a><br>
  <a href="#">Debug</a><br>
{% endcapture %}

{% capture themes %}
  <a href="#">Border Weights</a><br>
  <a href="#">Colors</a><br>
  <a href="#">Containers</a><br>
  <a href="#">Flex Grid</a><br>
  <a href="#">Fonts</a><br>
  <a href="#">Font Base Size</a><br>
  <a href="#">Font Scale</a><br>
  <a href="#">Gradients</a><br>
  <a href="#">Radius</a><br>
  <a href="#">Shadows</a><br>
  <a href="#">Whitespace Scale</a><br>
{% endcapture %}

{% capture configuration %}
  {% include components/accordion.html title="Functional" content=functional %}
  {% include components/accordion.html title="Themes" content=themes %}
{% endcapture %}

{% include components/accordion.html title="Configuration" content=configuration %}

{% capture usage %}
  <a href="#">Media Queries</a><br>
  <a href="#">Color and Gradients</a>
{% endcapture %}

{% include components/accordion.html title="Basic Usage" content=usage %}

{% capture attributes %}
  {% assign groups = site.attributes | group_by: "category" | sort: "name" %}
  {% for group in groups %}
    {% for item in group.items %}
      <a href="#{{ item.pageID }}">{{ item.title }}</a><br>
    {%endfor%}
  {% endfor %}
{% endcapture %}

{% include components/accordion.html title="Attributes" content=attributes %}